/* banner that can be shown on top of screen */

.banner {
    /* fix banner at the top of screen */
    position: fixed;
    padding: 5px 20px;
    top: 20px;
    left: 20px;
    right: 20px;
    border-radius: 20px;
    border: 4px solid #7cb342;

    /* center content */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #c5e1a5;

    /* fade out */
    animation: fadeout 2s;
}

@keyframes fadeout {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.95;
    }
    100% {
        opacity: 0;
    }
}
