@import "./base.css";

.detail-left {
    float: left;
    width: 40%;
}

.detail-left > h3 {
    width: 100%;
}

.price-tag {
    margin-bottom: 30px;
}

.action-container {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.ingredient-btn {
    float: left;
    margin-left: 50px;
}

.ingredient-btn {
    float: left;
}

.detail-right {
    float: right;
    width: 50%;
}

.ingredient-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ingredient-listing {
    display: flex;
    justify-content: space-around;
    width: 70%;
}

.add-cart-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.add-cart-container > div {
    margin-bottom: 50px;
}

.pack-btn {
    width: 300px;
}

.choice-container {
    width: 95%;
    height: auto;
}

.pack-pic {
    float: left;
    width: 30%;
    height: 450px;
    margin: 0px 30px;
    border: 6px solid #fb8c00;
    border-radius: 20px;
}

.pack-detail-container {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: flex-end;
    float: right;
    width: 55%;
    height: 450px;
    margin: 0px 30px;
}

.pack-detail-row {
    padding: 10px 0px;
    display: flex;
    justify-content: flex-start;
}

.pack-detail-row:last-child {
    margin-bottom: 10px;
}

.pack-detail-label {
    width: 200px;
}

.pack-detail-content {
    font-weight: normal;
}

.pack-quantity-btn {
    color: #424242;
    width: 150px;
}

.cart-btn {
    width: 100%;
    align-self: flex-end;
}
