@import "./base.css";

.detail-left {
    float: left;
    width: 40%;
}

.detail-left > h3 {
    width: 100%;
}

.price-tag {
    margin-bottom: 30px;
}

.action-container {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.ingredient-btn {
    float: left;
    margin-left: 50px;
}

.ingredient-btn {
    float: left;
}

.detail-right {
    float: right;
    width: 50%;
}

.ingredient-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ingredient-listing {
    display: flex;
    justify-content: space-around;
    width: 70%;
}

.add-cart-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.add-cart-container > div {
    margin-bottom: 50px;
}

.pack-btn {
    width: 300px;
}

.order-container {
    width: 95%;
    height: auto;
}

.pack-pic-container {
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 30%;
    height: 450px;
    margin: 0px 30px;
    border: 6px solid #fb8c00;
    border-radius: 20px;
}

.pack-pic-row {
    display: flex;
    justify-content: space-evenly;
}

.pack-detail-container {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: flex-end;
    float: right;
    width: 55%;
    height: 450px;
    margin: 0px 30px;
}

.pack-detail-row {
    padding: 10px 0px;
    display: flex;
    justify-content: flex-start;
}

.pack-detail-row:last-child {
    margin-bottom: 10px;
}

.pack-detail-label {
    width: 200px;
}

.pack-detail-content {
    font-weight: normal;
}

.pack-flavor-row {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.remove-btn > img {
    width: 35px;
    height: 35px;
    margin-left: 30px;
}

.add-flavor-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-flavor-btn > img {
    width: 30px;
    height: 30px;
}

.pack-quantity-btn {
    color: #424242;
    width: 150px;
}

.cart-btn {
    width: 100%;
    align-self: flex-end;
}

.overlay {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.98);
}

.overlay-row {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.overlay-row-shrt {
    width: 50%;
}

.overlay-row:first-child {
    justify-content: flex-start;
}

.overlay-btn {
    width: 300px;
}

.overlay-btn-selected {
    color: #fb8c00;
}

.overlay-btn-sm {
    width: 200px;
}

.overlay-btn:last-child {
    text-align: right;
}

.overlay-btn:first-child {
    text-align: left;
}
