/* style for home page */

@import "./base.css";

.slide-show {
    position: relative;
}

/* location information */
.info-loc {
    float: left;
}

/* contact-information */
.info-contact {
    float: left;
    margin-left: 60px;
}

.img-map {
    float: right;
    width: 45%;
    height: auto;
}

.img-about {
    float: left;
    width: 45%;
    height: auto;
}

.about-text {
    float: right;
    width: 40%;
    text-align: left;
}

.ship {
    margin-bottom: 25px;
}
